services:
  web:
    build: .
    container_name: ipo_backend_app
    command: gunicorn src.wsgi:application --bind 0.0.0.0:8000 --reload
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis
    entrypoint: [ "/app/entrypoint.sh" ]

  celery:
    build: .
    container_name: celery_worker
    command: celery -A src worker --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
      - web

  celery-beat:
    build: .
    container_name: celery_beat
    command: celery -A src beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
      - web

  redis:
    image: redis:7-alpine
    container_name: redis_broker
    ports:
      - "6379:6379"
